NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://dork7:vUe9WHLa0TiQCcjJ@mcluster.7kxtv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
MONGO_URI_TESTS=mongodb+srv://dork7:vUe9WHLa0TiQCcjJ@mcluster.7kxtv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
